.slide-toggle {
    height: var(--unity-metrics-single_line-height);
    align-items: center;
}

.slide-toggle__input {
    background-color: var(--unity-colors-slider_groove-background);
    padding: 0;
    max-width: 50px;
    border-width: 1px;
    border-color: var(--unity-colors-button-border);
    border-radius: var(--unity-metrics-default-border_radius);
    height: 100%;
    transition-property: background-color;
    transition-duration: 0.5s;
    margin-left: auto;
}

.slide-toggle__input-knob {
    height: 100%;
    width: 50%;
    background-color: var(--unity-colors-slider_thumb-background);
    position: absolute;
    border-radius: var(--unity-metrics-default-border_radius);
    transition-property: translate, background-color;
    transition-duration: 0.2s, 0.5s;
}

.slide-toggle__input--checked {
    background-color: var(--unity-colors-highlight-text);
}

.slide-toggle__input--checked > .slide-toggle__input-knob {
    translate: 100% 0;
}

.slide-toggle:focus .slide-toggle__input-knob {
    border-width: 1px;
    border-radius: var(--unity-metrics-default-border_radius);
}


 

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    margin: auto;
    flex-grow: 1;
}

.flex-grid__item {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgb(34, 34, 34);
    background-color: rgb(102, 102, 255);
}

.grid-list-view {
   
    margin: 5px;
    border-radius: var(--unity-metrics-default-border_radius);
    flex-grow: 1;
    min-height: 200px;
}
.grid-list-view__container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.grid-list-view__item
{   
    width: 100px;
    height: 100px;
    border-radius: var(--unity-metrics-default-border_radius);
    border-width: 2px;
    overflow: hidden;
}

.grid-list-view__item--selected
{
    border-color: var(--unity-colors-highlight-text);
}


